/* Resetando margens e padding */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Merienda", serif;
    background-color: white;
}

/* Section fixa no topo */
.bandeira {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px; /* Altura da barra */
    display: flex;
    z-index: 1000; /* Garantir que fique acima de outros conteúdos */
}

/* Definindo as cores da bandeira da Itália */
.green {
    background-color: #009246; /* Cor verde */
    flex: 1;
}

.white {
    background-color: #F4F5F0; /* Cor branca */
    flex: 1;
}

.red {
    background-color: #CE2B37; /* Cor vermelha */
    flex: 1;
}

/* Garantir que o conteúdo abaixo da barra não fique escondido */
.conteudo {
    padding-top: 60px; /* Espaço para não ficar coberto pela barra */
    margin-left: 15px;
    margin-right: 15px;
}

.conteudo h1 {
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
    font-size: 2.5rem;
    font-style: italic;
}

.conteudo p {
    font-size: 1rem;
}

/* Seção de pratos */
.pratos {
    display: flex;
    justify-content: center;
    gap: 50px; /* Ajuste o espaçamento entre os pratos */
    flex-wrap: wrap; /* Permite que os itens se quebrem para a linha seguinte, se necessário */
    text-align: center;
}

.entradas {
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
    font-size: 2.5rem;
    font-style: italic;
}

/* Estilo para a div .comida */
.comida {
    display: flex;
    flex-direction: column; /* Organiza os itens verticalmente */
    align-items: center; /* Centraliza os itens */
    width: 250px; /* Define a largura para cada prato */
    padding: 20px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.4);
    background-color: #fff;
}

.comida img {
    width: 220px;   /* Ajusta a imagem para ocupar toda a largura da div */
    height: 220px;  /* Mantém a proporção da imagem */
    border-radius: 8px;  /* Adiciona bordas arredondadas */
    border: solid 2px black;
}

/* Estilo para o título */
.comida h2 {
    font-weight: 1000; /* Negrito */
    font-size: 20px;
    margin: 10px 0;
}

/* Estilo para a descrição (h3) */
.comida h3 {
    font-size: 15px;
    max-width: 100%; /* Garante que o título não ultrapasse a largura da div */
    word-wrap: break-word;  /* Quebra palavras longas para evitar o estouro */
    overflow-wrap: break-word; /* Para garantir que palavras longas quebrem corretamente */
    white-space: normal;  /* Permite que o texto quebre em várias linhas */
    margin: 5px 0;
    cursor: pointer;
}

/* Estilo para o preço (h4) */
.comida h4 {
    color: #009246; /* Cor do preço */
    font-weight: 1000; /* Negrito */
    font-size: 25px;
    margin: 10px 0;
}
